spring:
  data:
    redis:
      host: redis
      port: 6379

RESERVATION_SERVICE_URL: http://reservation-service:8081
PAYMENT_SERVICE_URL: http://payment-service:8082
NOTIFICATION_SERVICE_URL: http://notification-service:8083