spring:
  data:
    redis:
      host: localhost
      port: 6379

RESERVATION_SERVICE_URL: http://localhost:8081
PAYMENT_SERVICE_URL: http://localhost:8082
NOTIFICATION_SERVICE_URL: http://localhost:8083