server:
  port: 8081

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
        - AddRequestHeader=X-Gateway, Cinema-API-Gateway

      routes:
        - id: reservation-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/reservation/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20

        - id: payment-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/payments/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10

        - id: notification-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/notifications/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway